@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form action="/Login/OnLogin" method="post">
    
    <label>Username</label>
    <input type="text" value="" name="Email" size="10" class="input_field" title="username" />
    <label>Password</label>
    <input type="password" value="" name="Password" class="input_field" title="password" />
    <a href="/Auth/Index">Register</a>
    <input type="submit" name="login" value="Login" alt="Login" id="submit_btn" title="Login" />
</form>