@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

@{
    if (Model.StatusMessage != null)
    {
        <p>@Model.StatusMessage</p>
        <a href="/Home">Home</a>
            
    }
}
