
@{
    ViewData["Title"] = "Index";

    @model Product;
}

<h1>@Model.Name</h1>
<div style="display: flex;">
    <div>
        <img src="@Model.ImageUrl" alt="product 2" />
    </div>
    <div>
        <p class="price">Price: $350</p>
        <p class="price">Price: $350</p>

    </div>
</div>




