@model IEnumerable<PTWeb.Models.Category>

@{
    ViewData["Title"] = "Category";
}

<h1>Categories</h1>

<ul class="categories_list">

    @foreach (var item in Model)
    {
        string categoryString = "Category/"+@item.Id.ToString();
        <li><a href="Product/Category/@item.Id">@item.Name</a></li>
    }
</ul>

